.bd-placeholder-img { font-size: 1.125rem; text-anchor: middle; -webkit-user-select: none;
 -moz-users-select: none; -ms-user-select: none; user-select: none; }
@media (min-width: 768px) {
 .bd-placeholder-img-lg { font-size: 3.5rem; }
}
.jumbotron { margin-bottom: 0px; }

/******************************************
* Langues
******************************************/
#langues .container { display: flex; flex-direction: row; justify-content: space-between; }
#langues .langue, #langues .niveau{ font-size: 1.3em; }
#langues .langue { padding-top: 3px; }


/******************************************
* Me contacter
******************************************/
.meContacter { clear: both; }
.meContacter .details { width: 100%; margin-left: 10px; margin-top: 3px; font-size: 1.5em;
 font-weight: 700; justify-content: space-between;}
.contact-icon { filter: grayscale(1); -webkit-filter: grayscale(1); 
 -moz-filter: grayscale(1); -ms-filter: grayscale(1);
 -o-filter: grayscale(1); height: 32px; width: 32px; margin: 2px 0; }
.meContacter a, .meContacter a:hover { text-decoration: none; color: black; }
.meContacter a:hover>img { filter: grayscale(0); -webkit-filter: grayscale(0);
 -moz-filter: grayscale(0); -ms-filter: grayscale(0);
 -o-filter: grayscale(0); }
